<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{template "header.go.html" .}}
<main>
    <div class="center-box sm:max-w-md">
        <h1 class="box-title">{{.ServiceName}}</h1>
        <div>Logged in as: {{.Auth.UserInfo.name}} ({{.Auth.Subject}})</div>
        <form method="GET" action="/manage/apps" class="space-y-4 md:space-y-6">
            <button type="submit" class="btn-green">Manage Applications</button>
        </form>
        {{if .IsAdmin}}
            <form method="GET" action="/manage/users" class="space-y-4 md:space-y-6">
                <button type="submit" class="btn-green">Manage Users</button>
            </form>
        {{end}}
        <form method="POST" action="/logout">
            <input type="hidden" name="nonce" value="{{.Nonce}}">
            <button type="submit" class="btn-red">Log out</button>
        </form>
    </div>
</main>
</body>
</html>
